<%- include ("partials/header.ejs") %>

<h1>Edit post</h1>

<form action="/save" method="POST" id="form-edit">
    <label for="title">Title</label></br>
    <input type="text" name="title" placeholder="Title your post"></br>
    <label for="author">Author</label></br>
    <input type="text" name="author" placeholder="Full Name"></br>
    <label for="content">Write your thoughts below</label></br>
    <textarea name="content" rows="10" cols="30">Type your content here..</textarea>
</form>

<button type="submit" form="form-create" value="Submit">Save</button>

<%- include ("partials/footer.ejs") %>