<%- include ("partials/header.ejs") %>

<% if (locals.articleTitles.length > 0) { %>
  <ul>
    <% articleTitles.forEach(post => { %>
      <li>
        <h2><%= title %></h2>
        <p>By <%= author %></p>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No blog posts yet.</p>
<% } %>

<%- include ("partials/footer.ejs") %>