/* NAVBAR */

/* navbar tabs */
.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* home */
.btn-primary {
    background: #F07B3F;
    border-color: #F07B3F;
}

.btn-primary:hover {
    background: #F07B3F;
    border-color: #F07B3F;
}

.btn-outline-primary {
    background: #FFF;
    color: #F07B3F;
    border-color: #F07B3F;
}

.btn-outline-primary:hover {
    background: #F07B3F;
    border-color: #F07B3F;
}