<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>My Blog</h1>
    <h2>View posts</h2>
    <% if (locals.articles) { %>
    <% articles.forEach(function(article) { %>
        <div class="blog-post">
            <h4><%= article.title %></h4>
            <p>By <%= article.author %></p>
            <p>By <%= article.article %></p>
        </div>
        <div class="btn-modify">
            <button>Edit</button>
        </div>
    <% }); %>
    <% } else { %>
        <p>No articles to show.</p>
    <% } %>
    <h2>Create a post</h2>
    <form action="/create" method="post">
        <label for="title">Title</label><br />
        <input type="text" name="title" required><br />
        <label for="author">Author</label><br />
        <input type="text" name="author" required><br />
        <label for="article">Write your article below</label><br />
        <textarea name="article" rows="20" cols="75"></textarea><br />
        <button type="submit">Create</button>
    </form>
</body>
</html>