<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Fitness Blog</title>
</head>
<body>
    <nav>
        <h3>MY BLOG</h3>
        <ul>
            <li><a href="/"><button>Read</button></a></li>
            <li><button>Edit</button></li>
            <li><a href="/create"><button>Create</button></a></li>
        </ul>
    </nav>
    