<div class="article-thumbnail">
    <img class="img-thumbnail" src="<%= imgThumbnail %>" alt="Blurry photo of someone doing battle ropes at the gym."/>
    <h5><%= title %></h5>
    <p>2024-06-10</p>
</div>